<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{ layout :: head(~{::title}) }">
    <title>Users</title>
</head>

<body th:replace="~{ layout :: body(~{::#th-page-body})}">
<div id="th-page-body">
    <h3 th:if="${error != null}" th:text="${error}" style="color: red;">
        Error
    </h3>

    <th:block th:if="${user.isAdmin()}">
        <h3>Add user</h3>
        <form method="POST" th:action="@{/users}" class="d-flex col gap-2">
            <input name="login" placeholder="Login" class="form-control" />
            <input name="password" placeholder="Password" type="password" class="form-control" />
            <input name="fullName" placeholder="Full Name" class="form-control" />
            <input name="role" placeholder="Role" class="form-control" />

            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </th:block>

    <h2>Users</h2>

    <table class="table mt-2">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Login</th>
            <th scope="col">Full Name</th>
            <th scope="col">Groups</th>
            <th th:if="${user.isAdmin()}" scope="col">Actions</th>
        </tr>
        </thead>

        <tbody>
        <th:block th:each="user, status : ${users}">
            <tr>
                <td scope="row" th:text="${user.getId()}">User ID</td>
                <td th:text="${user.getLogin()}">User Login</td>
                <td th:text="${user.getFullName()}">User Full Name</td>
                <td>
                    <th:block th:each="group : ${user.groups}">
                        <a th:href="@{/users?groupId=${group.id}}" th:text="${status.last} ? ${group.name} : ${group.name} + ', '">
                            Group Name
                        </a>
                    </th:block>
                </td>
                <td th:if="${user.isAdmin()}">
                    <a class="btn btn-primary" href="${pageContext.request.contextPath}/users/edit/${user.id}">Edit</a>
                    <a class="btn btn-danger" href="${pageContext.request.contextPath}/users/delete/${user.id}">Delete</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <!--
    <t:pagination
            hasPrev="${pagination.hasPrev}"
            hasNext="${pagination.hasNext}"
            pages="${pagination.pages}"
            currentPath="${pagination.currentPath}"
            currentQuery="${pagination.currentQuery}"
            prevPage="${pagination.prevPage}"
            nextPage="${pagination.nextPage}"
            pageSize="${pagination.pageSize}"
    />
    -->
</div>
</body>

</html>