<!DOCTYPE html>

<html xmlns="http://www.thymeleaf.com">
<head>
	<title>User list</title>
	<style>

		.list {
			display: flex;
			flex-direction: column;
		}	
		
		.row {
			display: flex;
		}	

		.cell {
			flex: 1
		}	
		
		

	</style>
</head>

<body>

<h2>User List</h2>

<div class="list">
	<div class="row">
		<div class="cell">A</div>
		<div class="cell">B</div>
	</div>

	<div class="row">
		<div class="cell">A</div>
		<div class="cell">B</div>
	</div>
</div>

<hr>

<div style="display: flex;flex-direction: column;">
	<div style="display: flex">
		<div style="flex: 1"> A </div>
		<div style="flex: 1"> B </div>
	</div>

	<div style="display: flex">
		<div style="flex: 1"> C </div>
		<div style="flex: 1"> D </div>
	</div>
</div>
		

</body>
</html>
